.bg-facebook{
    background-color: $facebook-color;
}

.bg-twitter{
    background-color: $twitter-color;
}

.bg-linkedin{
    background-color: $linkedin-color;
}

.bg-whatsApp{
    background-color: $whatsApp-color;
}

.bg-pinterest{
    background-color: $pinterest-color;
}