.text-facebook{
    color: $facebook-color;
}

.text-twitter{
    color: $twitter-color;
}

.text-linkedin{
    color: $linkedin-color;
}

.text-whatsApp{
    color: $whatsApp-color;
}

.text-oscuro{
    color: $oscuro;
}