// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #BB297C;
$pink: #f66d9b;
$red: #ff5959;
$orange: #f6993f;
$yellow: #facf5a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #4f9da6;

$oscuro: #233142;

$facebook-color: #3b5998;
$google-color: #dd4b39;
$github-color: #000000;
$twitter-color: #55acee;
$linkedin-color: #007bb5;
$whatsApp-color: #4dc247;
$pinterest-color: #cb2027;