.portada {
  margin-top: 0px;
  position: relative;
  width: 100%;
  /* (1:1) */
  /* (16:9) */
  /* (2:1) */
  /* (3:1)*/
}

.portada:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.portada .container {
  height: 100%;
}

.portada .container .row {
  height: 100%;
}

@media (min-width: 576px) {
  .portada:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
}

@media (min-width: 768px) {
  .portada:before {
    content: "";
    display: block;
    padding-top: 50%;
  }
}

@media (min-width: 992px) {
  .portada:before {
    content: "";
    display: block;
    padding-top: 38%;
  }
}

.portada > img {
  position: absolute;
  /* z-index: 100; */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.portada .portada-text {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-img {
  display: block;
  position: relative;
  width: 100%;
}

.card-img:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.card-img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.card-img .card-text {
  display: block;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

